/* style.css */

.bgimage {
	background-image: url('../images/law.jpg');
	background-position: center center;
	background-size: cover;
	height:
	200px;
}

.logo-text{
	color: rgb(0,0,0);
	text-align: right;
	margin-top: 80px;
	margin-right: 70px;



}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(110,241,210);
}

.table {
    border-radius: 5px;
    width: 80%;
    margin: 4px auto;
    float: none;
}