/* style.css */

.bgimage {
	background-image: url('../images/law.jpg');
	background-position: center center;
	background-size: cover;
	height:
	200px;
}

.logo-text{
	color: rgb(0,0,0);
	text-align: right;
	margin-top: 80px;
	margin-right: 70px;
	



}



.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(255, 238, 204);
}

.details{

	text-align: center;
	outline: 1px solid black;
	padding: 5px;
}